@CHARSET "UTF-8";

table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:12px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

body#corpo {
	background: url(fundo.png) repeat-x;
	font-family: verdana,arial,sans-serif;
	font-size: 12px; 
}

div#geral {
	margin: 0 auto;
	width: 1130px;
}


div#topo {
	background:	url(topo.png) repeat-x;
	height: 120px;
	margin-bottom: 5px;
	width: 100%;
}


div#sub-conteudo {
	background-color: #FFF;
	/*float: left;*/
	margin-bottom: 5px;
	padding-left: 5px;
	padding-top: 10px;
	min-height: 430px;
	width: 100%; /* 145px - 145px - 5px - 5px */
}


div#rodape {
	clear: both;
	height: 80px;
	width: 100%;
}


div#conteudo {
	
}

div#menu, 
div#rodape,
div#sub-conteudo,
div#topo {
	border-radius: 8px; /* CSS3 */
	-khtml-border-radius: 8px; /* Safari() */
	-moz-border-radius: 8px; /* Mozilla */
	-opera-border-radius: 8px; /* Opera */
	-webkit-border-radius: 8px; /* Safari */
}